@{
    ViewBag.Title = "About";
}


<h2>About Us, About Collectibles.</h2>
<p> We provide a beautiful, attractive progress tracking web app for collectors. The app is intended towards people who love to collect things like stamps, coins, figures! And there has always been a problem of not knowing what item to collect next or not knowing if one’s collection is completed etc., but with this app, you can keep track of the things you are collecting, find and search what item to collect next and even share your collection with others. A digitalized library collection of items you have collected, how nice would that be! You see a figure on store, you want to get it, but afraid of forgetting it? Just search and save that item in the app...! </p>
<p>Disclaimer of Affiliation with responsible Item claims. We do not own the items and images shown in the website. </p>
<p>The login page image is from u/xdredditfrend on reddit.  </p>

<p>
    Cookies

    A cookie is a small text file that is stored on a user's computer for record-keeping purposes.

    The Website uses both session ID cookies and persistent cookies. Company uses session cookies to make it easier for you to navigate the Website. A session ID cookie expires when you close your browser. A persistent cookie remains on your hard drive for an extended period of time. You can remove persistent cookies by following directions provided in your Internet browser's "help" file.

    The Website may set persistent cookies to store personal information such as your email address, so you don't have to enter it more than once. Persistent cookies may also enable Company to track and target the interests of our Website users to enhance your experience.

    Company may collect information contained in cookies to personalize your shopping experience. Your browser may need to accept cookies in order to use all of the features of this Website.

    In addition, Vendor uses cookies on the checkout page to assist with order fulfillment and marketing events that may be of interest to you.
</p>
