@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Collectibles.,inc<br />
    629, Yamanay, N.Dagon Yangon.<br />
    <abbr title="Phone">P:</abbr>
    09-250354704
</address>
<div class="separator" style="clear: both">
    <a><img src="@Url.Content("../../Content/Images/QR.png")"></a>
    <h2>Scan the QR above to email us!</h2>
</div>
<address>
    <strong>Email:</strong>   <a href="mailto:tsoominn@gmail.com">tsoominn@gmail.com</a><br />

</address>